:root{
    --cor-fonte: #181717;
    --cor-fonte2: #606060;
    --cor-fonte3: #2429AF;
    --bg-body: #ffffff;

}

.container{
max-width: auto;
margin: 20px 80px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--bg-body);

    transition: background 0.2s linear;
}

header{
    display:flex;
    justify-content:space-between;
}

.iniciais h3{
    font-size: 30px;
    color: var(--cor-fonte1);
}

.botões{
    color: var(--cor-fonte1);
    justify-content: space-between;
    display:flex;
    align-items: center;
}

.btn{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

.apresentação{
display: flex;
align-items: left;
justify-content: space-between;
}

.apresentação h2{
    width: 480px;
    height: 169px;
    text-align: left;
    font-weight: bolder;
    font-size: 34px;
    max-width: 330px;
}

.apresentação p{
    width: 480px;
    height: 100px;
    text-align: left;
    font-size: 18px;
    max-width: 460px;
}

.apresentação img{
    width: 421px;
    margin-left: 500px;
    justify-content: right;
}

/*tema escuro*/
body.active {
    background-color: #232c35;
    color: #ffffff;
}

body.active a{
    color: #ffffff;
}

.checkbox {
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
    opacity: 0;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.label{
    background-color: #232c35;
    border-radius: 50px;
    cursor: pointer;

    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50px;
    height: 25px;
}

.label .ball{
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin-left: 2px;

    height: 20px;
    width: 20px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label{
    background-color: #ffffff;
}

.checkbox:checked + .label .ball{
    transform: translateX(27px);
    background-color: #232c35;
}

.fa-moon{
    color: #f1c40f;
    margin-left: 2px;
}

.fa-sun{
    color: #f39c12;
    margin-right: 2px;
}